<?xml version="1.0" encoding="UTF-8"?>  
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">  
  <display-name>Polytech Velo Express</display-name>
  
  <!-- Gestion de l'accueil -->
  <servlet>
  	<servlet-name>Accueil</servlet-name>  
    <servlet-class>siteInterface.Accueil</servlet-class> 
  </servlet>
  <servlet-mapping>  
    <servlet-name>Accueil</servlet-name>  
    <url-pattern>/index</url-pattern>  
  </servlet-mapping> 
  
  <!-- Gestion de la connexion -->
  <servlet>
  	<servlet-name>Connexion</servlet-name>  
    <servlet-class>siteInterface.Connexion</servlet-class> 
  </servlet>
  <servlet-mapping>  
    <servlet-name>Connexion</servlet-name>  
    <url-pattern>/connexion</url-pattern>  
  </servlet-mapping> 
  
  <!-- Gestion de la déconnexion -->
  <servlet>
  	<servlet-name>Deconnexion</servlet-name>
    <servlet-class>siteInterface.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping> 

<!-- Gestion de l'inscription -->
  <servlet>
  	<servlet-name>Inscription</servlet-name>  
    <servlet-class>siteInterface.Inscription</servlet-class> 
  </servlet>
  <servlet-mapping>  
    <servlet-name>Inscription</servlet-name>  
    <url-pattern>/inscription</url-pattern>  
  </servlet-mapping> 
  
<!-- Gestion de la page des produits -->
  <servlet>
  	<servlet-name>Produits</servlet-name>  
    <servlet-class>siteInterface.Produits</servlet-class> 
  </servlet>
  <servlet-mapping>  
    <servlet-name>Produits</servlet-name>  
    <url-pattern>/produits</url-pattern>  
  </servlet-mapping> 
  
  <!-- Gestion des pense Bete (messages liés au trafic routier) -->
  <servlet>
  	<servlet-name>PenseBete</servlet-name>  
    <servlet-class>siteInterface.PenseBete</servlet-class> 
  </servlet>
  <servlet-mapping>  
    <servlet-name>PenseBete</servlet-name>  
    <url-pattern>/penseBete</url-pattern>  
  </servlet-mapping> 
  
   
  
  
 <!-- Ajout/Modification de produit -->
  <servlet>
  	<servlet-name>AjoutProduit</servlet-name>  
    <servlet-class>siteInterface.AjoutProduit</servlet-class> 
  </servlet>
  <servlet-mapping>  
    <servlet-name>AjoutProduit</servlet-name>  
    <url-pattern>/ajoutproduit</url-pattern>  
  </servlet-mapping>
  
 <!-- Changement de disponibilite livreur -->
  <servlet>
  	<servlet-name>DispoLivreur</servlet-name>  
    <servlet-class>siteInterface.DispoLivreur</servlet-class> 
  </servlet>
  <servlet-mapping>  
    <servlet-name>DispoLivreur</servlet-name>  
    <url-pattern>/modifdispo</url-pattern>  
  </servlet-mapping>
  
   <!-- Ajout produit au panier -->
  <servlet>
  	<servlet-name>AjoutPanier</servlet-name>  
    <servlet-class>siteInterface.AjoutPanier</servlet-class> 
  </servlet>
  <servlet-mapping>  
    <servlet-name>AjoutPanier</servlet-name>  
    <url-pattern>/ajoutpanier</url-pattern>  
  </servlet-mapping>
  
</web-app> 
